body {
    font-family: 'Overpass', sans-serif;
}

a, a:hover {
    color: #900;
}

.hal-aside {
    height: calc(100vh - 4rem);
    font-size: .875rem;
    order: 2;
    overflow-y: auto;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    position: sticky;
    top: 4rem;
}

.hal-content {
    order: 1;
}

.hal-flex-2-per-row {
    flex: 1 1 50%;
}

.hal-flex-3-per-row {
    flex: 1 1 33%;
}

.hal-flex-4-per-row {
    flex: 1 1 25%;
}

.hal-footer h6,
.hal-footer p,
.hal-footer li,
.hal-footer a,
.hal-homepage-banner h1,
.hal-homepage-banner p {
    color: rgba(255, 255, 255, .75);
}

.hal-homepage-feature {
    padding: 4rem 6rem 0 6rem;
}

.hal-smaller {
    font-size: 67%;
}

.hal-teaser-icon {
    height: auto;
    width: 48px;
}

@media (min-width: 992px) {
    .hal-homepage-feature {
        width: 50%;
    }
}