body {
    font-family: 'Overpass', sans-serif;
    padding-top: 3.5rem; /* Move down content because we have a fixed navbar that is 3.5rem tall */
}

.footer-dark h6,
.footer-dark p,
.footer-dark li,
.footer-dark a {
    color: rgba(255, 255, 255, .75);
}

.smaller {
    font-size: 66%;
}
