body {
    font-family: overpass, sans-serif;
}

pre, code, samp, var, kbd {
    font-family: overpass-mono, monospace;
}

h1.title, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: overpass, sans-serif;
}

button, .button {
    font-family: overpass, sans-serif;
}

.message, .monospace, .notification, .section-item-desc {
    font-family: overpass-mono, monospace;
}
